---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import EventList from '../components/EventList.astro';
import Footer from "../components/Footer.astro";

const token = import.meta.env.GITHUB_TOKEN;

const res = await fetch("https://api.github.com/orgs/Lakes-Programming-Club/members", {
    headers: {
        Authorization: `Bearer ${token}`,
        Accept: "application/vnd.github+json"
    }
});

if (!res.ok) { throw new Error(`Error! status: ${res.status}`) }

const members = await res.json();

---

<Layout title="Home">
    <Hero/>
    <main class="container">
        <article>
            <h2>What We Do</h2>
            <ul>
                <li>Workshops on Foo, Bar, and more</li>
                <li>Collaborative qux corge</li>
                <li>Spam and eggs green</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            </ul>
        </article>
        <article>
            <h2>Upcoming Events</h2>
            <EventList filter="upcoming" display="short"/>
        </article>
        <article id="join">
            <h2>Get Involved</h2>
            <h4>So far we have {members.length} members</h4>
            <form>
                <label for="name">Name</label>
                <input id="name" name="name" type="text" required />
                <label for="email">Email</label>
                <input id="email" name="email" type="email" required />
                <button type="submit">Sign Up</button>
            </form>
        </article>
    </main>
    <Footer/>
</Layout>