---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import EventList from '../components/EventList.astro';
import Footer from "../components/Footer.astro";
---

<Layout title="Home">
    <Hero/>
    <main class="container">
        <section>
            <h2>What We Do</h2>
            <ul>
                <li>Workshops on Foo, Bar, and more</li>
                <li>Collaborative qux corge</li>
                <li>Spam and eggs green</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            </ul>
        </section>
        <section>
            <h2>Upcoming Events</h2>
            <EventList filter="upcoming" display="short"/>
        </section>
        <section id="join">
            <h2>Get Involved</h2>
            <form>
                <label for="name">Name</label>
                <input id="name" name="name" type="text" required />
                <label for="email">Email</label>
                <input id="email" name="email" type="email" required />
                <button type="submit">Sign Up</button>
            </form>
        </section>
    </main>
    <Footer/>
</Layout>