---

import Navbar from "./Navbar.astro";---

<div class="hero">
    <Navbar/>
    <div class="container">
        <hgroup>
            <p>Lakes Programming Club</p>
            <h1>Empowering the next generation</h1>
            <a href="#join"><h3>Join Us</h3></a>
        </hgroup>
    </div>
</div>