---

---

<nav class="container-fluid">
    <ul>
        <li><strong>Lakes Programming Club</strong></li>
    </ul>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/resources">Resources</a></li>
    </ul>
</nav>