---

---

<nav class="container-fluid">
    <ul>
        <li><strong>Lakes Programming Club</strong></li>
    </ul>
    <ul>
        <li><a href="/ClubSite">Home</a></li>
        <li><a href="/Clubsite/join">Join</a></li>
        <li><a href="/ClubSite/events">Events</a></li>
    </ul>
</nav>