.social img {
    width: 1em;
    margin: 0;
    padding: 0;
}

.social li {
    margin: 0 1px;
}

.social a {
    margin: 0;
    padding: 0;
}

.social .icon { display: none; }

@media (prefers-color-scheme: dark) {
    .social .dark-mode { display: inline; }
}
@media (prefers-color-scheme: light) {
    .social .light-mode { display: inline; }
}

.resource-icon {
    width: 1em;
}

.filter {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    max-width: 200px;
}

.filters {
    display: flex;
    gap: 8px;
    align-items: center;
}

.tag {
    color: var(--pico-color);
    border-color: var(--pico-contrast-border);
    border-width: var(--pico-border-width);
    border-style: solid;
    padding: 0.25rem 0.75rem;
    border-radius: 64px;
    font-size: 0.75rem;
    font-weight: 500;
    white-space: nowrap;
}
